@model SportShop2025.Data.Category
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-add">
    <h2 class="title">Create Category</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert-success SuccessMessage">
            @ViewBag.SuccessMessage
        </div>
    }

    <div class="form-container">
        <form asp-action="CreateCategories" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryName"></label>
                <input asp-for="CategoryName" class="input-field" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="input-field" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group btn-container">
                <input type="submit" value="Create" class="btn-submit" />
            </div>
        </form>
    </div>
</div>

<div class="back-link">
    <a asp-action="ListCategories">← Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}