@model SportShop2025.Data.Order
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-add">
    <h2 class="title">Create Order</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert-success SuccessMessage">
            @ViewBag.SuccessMessage
        </div>
    }

    <div class="form-container">
        <form asp-action="CreateOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="input-field" asp-items="ViewBag.CustomerId"></select>
            </div>

            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="input-field" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <div class="form-group btn-container">
                <input type="submit" value="Create" class="btn-submit" />
            </div>
        </form>
    </div>
</div>

<div class="back-link">
    <a asp-action="ListOrder">← Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
